body{
    margin:20px;
    font-family: 'Poppins', sans-serif;
}

.nav{
font-family: 'Poppins', sans-serif;
font-size: 40px;
display: block;
text-align:end;
text-decoration:none;
padding: 0px 50px 0px 0px;
font-weight: 700; 
margin-top: -120px;
background-color: #C2640E;



}
.titolokarlotta{
    font-size: 36px ;
}

.art{
    font-family: "monofett";
    font-size: 80px;
   color: #FCF8E5;
   display: block;
text-align:left;
text-decoration:none;
padding: 30px 30px 0px 40px;


}

.artist{
    font-family: 'Poppins', sans-serif;
    font-size: 128px;
    font-weight:900 ;
    color: #FF8719;
    padding: 0px 0px 0px 32px;

}
A:LINK {
    color :#FCF8E5;
    text-decoration: none
   }
   
   A:VISITED {
    color :#FCF8E5;
    text-decoration: none
   }
   
   A:HOVER {
    color :#FCF8E5;
    text-decoration : none;
   }
   
   A:ACTIVE {
    color :#FCF8E5;
    text-decoration: none
   }


   .pulsante3{
    background-color: #357727;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #FCF8E5;
    padding: 22px 0px 22px 0px;
    margin-left: 320px;
    width:100px;
    }
                    
                    
    .pulsante3:hover {
    background: #9db997;
    }
    
    .testokarlotta{
        margin: 0px 900px 0px 0px;
        font-weight: 400px;
        font-size: 27px;
        line-height: 40px;
        font-family: 'Poppins', sans-serif;
    }    
        
  .immma{
    margin:  100px 0px 0px 100px ;
    
  }
 